<p class="console"> - Name : Atria</p>
<p class="console"> - Age : 20</p>
<p class="console"> - Area of ​​interest : C#/Blazor/.NET</p>
<p class="console"> - Hobby : Gaming/Camping/Programming</p>
<p class="console">
    <a href="https://twitter.com/AtriaSoft">Twitter</a>
    <a href="http://atriasoft.work/">Blog</a>
    <a href="https://github.com/Atria64">GitHub</a>
    <a href="https://speakerdeck.com/atria">SpeakerDeck</a>
</p>