@inject HttpClient Http
@if (commands == null)
{
    <p class="console">Loading...</p>
}
else
{
    @foreach (var item in commands)
	{
		 <p class="console"><span style="color:@Setting.CommandColor;">@item.Name</span> -> <span style="color:white">@item.Discription</span></p>
	}
}
@code{
    private Command[] commands;

    protected override async Task OnInitializedAsync()
    {
        commands = await Http.GetFromJsonAsync<Command[]>("commands.json");
    }

}