<p class="console">help : これ</p>
<p class="console">bio : プロフィールを表示します</p>
<p class="console">works : 作ったものを表示します</p>
<p class="console">info : このサイトについての情報を表示します</p>
<p class="console">cls : コンソールをクリアします</p>
