<p class="console">@asmName.Name.ToString() Ver:@asmName.Version.ToString()</p>
<a href="https://github.com/Atria64/CUIPortfolio/actions?query=is%3Acompleted+branch%3Amaster" class="console">バージョンをGitHubActionsから確認する</a>

@code {
    static private System.Reflection.Assembly assembly = System.Reflection.Assembly.GetExecutingAssembly();
    static private System.Reflection.AssemblyName asmName = assembly.GetName();
}
