<p class="console" style="color:limegreen">MarkdownUrlGenerator</p>
<p class="console">使ったもの : JavaScript</p>
<p class="console">WebサイトをGitHubマークダウンリンクとして出力するGoogleChrome用ブックマークレット。</p>
<p class="console">作成したブックマークレットをクリックすると、クリップボードにサイトの名前とURLをGitHubのマークダウン形式でコピーします。</p>
<p class="console"><a href="https://github.com/Atria64/MarkdownUrlGenerator">GitHub Repository</a></p>
@code {

}
