<p class="console" style="color:limegreen">ToDoManager</p>
<p class="console">使ったもの : C# / Blazor / Firebase / Radzen.Blazor</p>
<p class="console">初めてのBlazorアプリ。Firebaseを用いてデプロイ&公開した。</p>
<p class="console">LT会などでも割とウケた。手応えのある良いアプリになった。(バグは残ってるけど)</p>
<p class="console"><a href="https://todomanager-7196c.web.app/">ToDoManager</a></p>
@code {

}
