@inject HttpClient Http
@if (works == null)
{
    <p class="console">Loading...</p>
}
else
{
    <p class="console" style="color:limegreen">| Works</p>
    @foreach (var item in works)
    {
        <p class="console" style="color:navajowhite">
            |- @item.Name [ @String.Join(", ",item.Language) ] :
            <span class="console">@item.Description</span>
            <span class="console" style="color:skyblue;">[cmd : @item.Command]</span>
        </p>
    }
}

@code {
    private Work[] works;

    protected override async Task OnInitializedAsync()
    {
        works = await Http.GetFromJsonAsync<Work[]>("works.json");
    }
}
