@page "/"
@inject IJSRuntime JSRuntime;
<p>Welcome to My CUIFoo app.</p>
<BarParTime Time="0.5"></BarParTime>

@if (ConsoleManager.Inputs.Count == 0)
{
    <Console Input=""></Console>
}

@foreach (string item in ConsoleManager.Inputs.ToList())
{
    <Console Input="@item"></Console>
}

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ConsoleManager.ListChanged += new EventHandler(Update);
        }
        //次の行に自動で移動する
        //内部的には次のinputにFocus()しているのみなので、ボタンクリックなどに支障はない(はず)
        await JSRuntime.InvokeVoidAsync("focusCommandLine");
        await JSRuntime.InvokeVoidAsync("autoScroll");
    }

    private void Update(object sender, EventArgs e)
    {
        StateHasChanged();
    }
}