@page "/"
@inject IJSRuntime JSRuntime;
<p>Welcome to My CUIFoo app.</p>
<BarParTime Time="0.5"></BarParTime>

@*Inputsがなにもない場合の処理*@
@if (ConsoleManager.Inputs.Count == 0)
{
    <ConsoleComponent Input="" directoryManager="@DirectoryManager"></ConsoleComponent>
}
else
{
    @*Inputsの中身がある場合,Consoleに要素を与えて列挙する*@
    @foreach (string item in ConsoleManager.Inputs.ToList())
    {
        <ConsoleComponent Input="@item" directoryManager="@DirectoryManager"></ConsoleComponent>
    }
}

@code{
    DirectoryManager DirectoryManager;
    protected override void OnInitialized()
    {
        DirectoryManager = new DirectoryManager();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ConsoleManager.ListChanged += new EventHandler(InputsUpdate);
        }
        //次の行に自動で移動し、スクロールする
        await JSRuntime.InvokeVoidAsync("focusCommandLine");
        await JSRuntime.InvokeVoidAsync("autoScroll");
    }

    /// <summary>
    /// ConsoleManager.Inputsが更新されたときのイベントハンドラ
    /// </summary>
    /// <param name="sender"></param>
    /// <param name="e"></param>
    private void InputsUpdate(object sender, EventArgs e)
    {
        StateHasChanged();
    }
}