@inject IJSRuntime JSRuntime;
<div>
    <h1 style="color:gold;margin-top:25px;">AtriaSoft</h1>
    @foreach (var item in menu.Select((v,i) => new {v,i}))
    {
        <span @onclick="@(s => Click(item.i))" id="@item.i" style="color:white;margin-right:15px;">@item.v</span>
    }
</div>
<hr style="color:white;background-color:white;" />

@code {
    //レンダリングの回避
    protected override bool ShouldRender() => false;

    string[] menu = {"atriasoft.work", "GitHub" };

    private void Click(int index)
    {
        switch (menu[index])
        {
            case "atriasoft.work":
                UrlOpenNewWindow("http://atriasoft.work/");
                break;
            case "GitHub":
                UrlOpenNewWindow("https://github.com/Atria64/CUIPortfolio");
                break;
            default:
                menu[index] = "clicked";
                break;
        }
    }

    /// <summary>
    /// 与えられたURLを既定のウィンドウで新しく開きます
    /// </summary>
    /// <param name="url"></param>
    private async void UrlOpenNewWindow(string url)
    {
        await JSRuntime.InvokeVoidAsync("open", url, "_blank");
    }
}
